body {
    background-color: rgb(10,25,47);
    /* font-family: Merriweather Sans; Schriftart richtig einbinden */
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.initialsImg {
    height: 30px;
    width: auto;
}
.header a {
    text-decoration: none;
    color: rgb(204,216,248);
}
.links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.content {
    display: flex;
    flex-direction: column;
    margin: 100px;
}
h1 {
    font-size: 40px;
    color: rgb(204,216,248);
}
h2 {
    font-size: 40px;
    color: rgb(136,146,176);
}
h3 {
    color: rgb(64,160,152);  
}
p {
    color: rgb(136,146,176);
}
.skillsContainer {
display: flex;
justify-content: space-around;
}
.skillImg {
    height: 100px;
    width: auto;
}
.returnBtn {
    background-color: rgb(10,25,47);
    border-color: rgb(64,160,152);
    color: rgb(64,160,152);
    border-radius: 50px;
}